/3DLv3_2023_vs2019/Project/BaseProject/.vs
/3DLv3_2023_vs2019/Project/BaseProject/Debug
/3DLv3_2023_vs2019/Project/BaseProject/BaseProject/Debug
/3DLv3_2023_vs2019/Project/BaseProject/BaseProject/*.user
/3DLv3_2023_vs2019/Project/BaseProject/Release
/3DLv3_2023_vs2019/Project/BaseProject/BaseProject/Release
